<p>Hello hello!</p>

<p>
With me I bring great news. We just received an application to start a Hack Club! Full details below.
</p>

<p>
Yours faithfully,<br />
Hack Club API
</p>

<hr>

<p><b>Club Application</b></p>

<% @application_fields.each do |question, answer| %>
  <p><u><%= question %></u></p>
  <p><%= answer %></p>
<% end %>

<p><b>Leader Profiles</b></p>

<% @profiles_w_fields.each do |profile, fields| %>
  <p><b><i><%= profile.leader_name %></i></b></p>

  <% fields.each do |question, answer| %>
    <p><u><%= question %></u></p>
    <p><%= answer %></p>
  <% end %>
<% end %>
