<p>Hello,</p>

<p>
Your application to start a Hack Club at <%= @application.high_school_name %>
has been submitted for review.
</p>

<p>
There are 4 Steps to joining Hack Club:
<ol>  
  <li><b>Apply<b> <i><--(you are here)</i></li>
  <li>Join Slack</li>
  <li>Onboarding Call</li>
  <li>First Meeting!</li>
</ol>
We'll send you instructions for Step 2 (joining Slack) if we decide to accept your club.
</p>

<p>
Normally we respond to applications within a week. However, we are still busy preparing systems for the new year at HQ. 
As a result <b>we do not expect to begin admitting or onboarding clubs until August 26th.</b> 
Expect a proper response by the end of August; in the meantime, we encourage you to begin preparing your club! 
If we accept your application this will give you a valuable head-start. 
If we do not accept your application, we are likely to reconsider if you demonstrate progress such as signups, marketing campaigns, or actual meetings.
</p>  

<p>
If you have any questions, please
email us at <%= mail_to 'applications@hackclub.com' %>.
</p>

<p>
Thanks,<br />
Hack Club
</p>

<hr>

<p><b>Club Application</b></p>

<% @application_fields.each do |question, answer| %>
  <p><u><%= question %></u></p>
  <p><%= answer %></p>
<% end %>

<p><b>Leader Profile</b></p>

<% @profile_fields.each do |question, answer| %>
  <p><u><%= question %></u></p>
  <p><%= answer %></p>
<% end %>
