<p>Hello,</p>

<p>
Your application to start a Hack Club at <%= @application.high_school_name %>
has been submitted for review.
</p>

<p>
There are 4 Steps to joining Hack Club:
<ol>  
  <li><b>Apply</b> <i>&lt;--(you are here)</i></li>
  <li>Join Slack</li>
  <li>Onboarding Call</li>
  <li>First Meeting!</li>
</ol>
We'll send you instructions for Step 2 (joining Slack) if we decide to accept your club.
</p>

<p>
We do our best to review applications as soon as possible. You can expect to
receive a response from us within a week. If you have any questions, please
email us at <%= mail_to 'applications@hackclub.com' %>.
</p>

<p>
Thanks,<br />
Hack Club
</p>

<hr>

<p><b>Club Application</b></p>

<% @application_fields.each do |question, answer| %>
  <p><u><%= question %></u></p>
  <p><%= answer %></p>
<% end %>

<p><b>Leader Profile</b></p>

<% @profile_fields.each do |question, answer| %>
  <p><u><%= question %></u></p>
  <p><%= answer %></p>
<% end %>
