<p>Hello,</p>

<p>
Your Hack Club application for <%= @application.high_school_name %> has been
submitted for review.
</p>

<p>You can expect a response in the next 3 week days.</p>

<p>
Thanks,<br />
Hack Club
</p>

<hr>

<p><b>Club Application</b></p>

<% @application_fields.each do |question, answer| %>
  <p><u><%= question %></u></p>
  <p><%= answer %></p>
<% end %>

<p><b>Leader Profile</b></p>

<% @profile_fields.each do |question, answer| %>
  <p><u><%= question %></u></p>
  <p><%= answer %></p>
<% end %>
