<p>Hello!</p>

<p>Hope you had a great week. Here is a report of check-ins from Indian clubs over the past 4 weeks:</p>

<table>
  <tr>
    <th></th>
    <% @weeks.each do |week| %>
      <th><%= week[:name] %></th>
    <% end %>
  </tr>
  <% @clubs.each do |club| %>
  <tr>
    <th><%= club[:name] %></th>
    <% club[:check_ins].each do |check_in| %>
      <td><%= check_in %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<p>
Total Indian clubs: <b><%= @stats[:club_count] %></b><br />
Total Indian clubs that checked in: <b><%= @stats[:checked_in_count] %></b><br />
Total attendance last week: <b><%= @stats[:attendance] %></b><br />
</p>

<p>- Monolith</p>
